<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="ParaServiceBaseAddress" value="net.tcp://localhost:7777/" />
    <!-- timer value as hours -->
    <add key="TimerTick" value="4" />
  </appSettings>
  <connectionStrings>
    <add name="Para" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQL2016;Database=Para;Integrated Security=True;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>