<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="TcpPort" value="7777" />
    <!-- timer value as hours -->
    <add key="TimerTick" value="4" />
  </appSettings>
  <connectionStrings>
    <add name="Para" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS2014;Database=Para;Integrated Security=True;MultipleActiveResultSets=True;" />
  </connectionStrings>
</configuration>